{% macro input(props) %}
	<div class="fieldset {{props.className}}">
		<input class="fieldset__input" type="{{props.type}}" placeholder="{{props.placeholder}}" name="{{props.name}}" id="field-{{props.name}}-text">
		{% if props.label %}
			<label class="fieldset__label" for="field-{{props.name}}-text">
				{{props.label}}
			</label>
		{% endif %}
	</div>
{% endmacro %}
